page-login {
    
    .container {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 24em;
        height: 100%;

        .login-items {
            padding: 2rem;
            width: 30rem;
        
            img {
                display: block;
                margin: 0 auto 2rem auto;
            }
            input[type="submit"] {
                background-color: rgba(28,93,151, .2);
                border-color: rgba(28,93,151, 1);
                margin-top: 2rem;
                opacity: .6;
                color: rgba(28,93,151, 1);
            }
            input[type="text"],
            input[type="password"] {
                color: #f2f2f2;
                border-radius: 3rem;
                background-color: rgba(28,93,151, .07);
                border: 1px solid rgba(28,93,151, .3);
                display: block;
                font-size: 2rem;
                width: 100%;
                margin: 1rem auto;
                padding: 1rem 2rem;

                &::placeholder { color: rgba(28,93,151, .3); }
                &:first-of-type {
                    margin-bottom: 0;
                }
            }
        }



        
        // ORIGINAL FOR DARK BG
        // .login-items {
        //     padding: 2rem;
        //     width: 30rem;
        
        //     img {
        //         display: block;
        //         margin: 0 auto 2rem auto;
        //     }
        //     input[type="submit"] {
        //         margin-top: 2rem;
        //         opacity: .6;
        //     }
        //     input[type="text"],
        //     input[type="password"] {
        //         color: #f2f2f2;
        //         border-radius: 3rem;
        //         background: rgba(255, 255, 255, .07);
        //         border: 1px solid rgba(255, 255, 255, .3);
        //         display: block;
        //         font-size: 2rem;
        //         width: 100%;
        //         margin: 1rem auto;
        //         padding: 1rem 2rem;

        //         &::placeholder { color: rgba(255, 255, 255, .3); }
        //         &:first-of-type {
        //             margin-bottom: 0;
        //         }
        //     }
        // }
    }
}
