<header-component></header-component>

<ion-fab right middle #fab *ngIf="showCompare">
  <div class="pulse">
    <button ion-fab (click)="goToKOLCompare()" color="light">
            <ion-icon name="ios-contacts"></ion-icon>    
        </button>
  </div>
</ion-fab>

<ion-content>
  <div class="card-container">
    <!--| kolsFilter-->
    <div *ngFor="let kol of kols$ | async; let i = index">
      <div class="kol-card">

        <header>
          <!--[ngClass]="{'checked': isClassVisible }"-->
          <ion-icon item-left class="check un-checked" name="ios-checkmark-circle-outline" (click)="selectedKOLs(i,c)" [class.checked]="selectedStatus[i]" id="{{kol.Id}}">
          </ion-icon>
          <!--[attr.data-selected]="false"  -->
          <a (click)="goToKOL(kol.Id)">
            <ion-icon name="contact" class="icon-img"></ion-icon>
          </a>
        </header>

        <section>
          <h1 class="name">{{kol.FirstName}} {{kol.LastName}}, {{kol.Degree}}</h1>
          <p>{{kol.Region}}</p>
          <p>{{kol.Specialty}}</p>
          <p>{{kol.Affiliation}}
            <br> {{kol.CityState}}</p>
          <p>{{kol.Phone}}<br>{{kol.Email}}</p>
        </section>
        <footer class="cf">
          <div class="rating">
            Score: <strong>{{kol.Score}}</strong>
          </div>
          <div class="info">
            <ion-icon *ngIf="kol.favorite" name="ios-bookmark"></ion-icon>
            <ion-icon *ngIf="!kol.favorite" name="ios-bookmark-outline"></ion-icon>
          </div>
        </footer>
      </div>
    </div>
  </div>
  <!-- END card-container-->

</ion-content>
