div.chart {
    margin-top: 13rem;
    .h4 {
    font-size: 24rem;
    color: #fff;
  }
}


.nvtooltip {
  table { 
    margin: 0;
    background: #fff;
    opacity: .8;

      thead { 
     
          tr {
            background: linear-gradient( #9152C8 0%, #9152C8 100% );
            color: #FFFFFF;
            text-align: center;
            padding: 1rem 1rem 0 1rem;
            position: relative;
          }
     }
     tbody {
       tr {
        padding: .5rem;
        display: block;
       }
     }
  }
}