page-engagement-details {
    
    section {
        background: #fff;
        padding: 5rem 2rem 2rem 3rem;
        border-bottom-left-radius: .5rem;
        border-bottom-right-radius: .5rem;
        color: #444;
        h1 {
          font-family: 'Montserrat', sans-serif;
          text-transform: uppercase;
          font-size: 1.8rem;
          color: #444;
          padding-bottom: 1rem;
        }
        .plan-row {
            border-top: 1px solid #e7eaec;
        }
        .plan-time {
            position: relative;
            padding-top: .6rem;
            border-right: 1px solid #e7eaec;
            small { color: $positive; }
        }
        .plan-icon {
            font-size: 1.5rem;
            position: absolute;
            top: 0;
            right: 0;
            padding: 3px;
            width: 25px;
            text-align: center;
            border-bottom: 1px solid #e7eaec;
            border-left: 1px solid #e7eaec;
            background: #f8f8f8;
        }
        .plan-desc {
            padding-left: 1rem;
            padding-top: 1rem;
            h6 {
            margin-bottom: .3rem;
            }
            p {
            font-size: 1rem;
            line-height: 1.5rem;
            }

        }
    }
}