page-kol-profile-compare {

.custom-top-nav { background-color: $highlight; }
.text-ios-primary, .toolbar-title-ios {
    color: white;
}

.w-75 {
    float: left;
    width: 75%;
}
.w-25 {
    float: right;
    width: 25%;
}

.kol-container {
   display: flex;
   flex-flow: row wrap;
   align-content: flex-end;
}

  .kol-card {
      width: 50%;
      padding-right: 1rem;
      
      header {
        height: 15rem;
        //background: linear-gradient(177deg, #9152C8 40%, #C96DD8 60%, #fff 61%, #fff 100%);
        // background: linear-gradient(90deg, #5B38B9 0%, #C96DD8 60%, #EB6660 100%);
        background: linear-gradient(90deg, $highlight 0%, $highlight 60%, $highlighted 100%);
        color: #FFFFFF;
        text-align: center;
        padding: 1rem 1rem 0 1rem;
        position: relative;
        border-top-left-radius: .5rem;
        border-top-right-radius: .5rem;
        h1 {
            font-family: 'Montserrat', sans-serif;
            font-size: 2.8rem;
            text-align: left;
        }
        img, ion-icon.icon-img {
          height: 12rem;
          width: 12rem;
          float: left;
          margin: 0 0 0 2rem;
          // style items for ion-icon becuase it's a font
          font-size: 12rem;
          background-color: white;
          color: #999;
          border-radius: 100%;
          line-height: 0rem;
          box-shadow: 0 2px 2px #ccc;
        }
        ion-icon {
            font-size: 3rem;
        }
      }
      section {
        background: #fff;
        padding: 5rem 2rem 2rem 3rem;
        border-bottom-left-radius: .5rem;
        border-bottom-right-radius: .5rem;
        
        h1 {
          font-family: 'Montserrat', sans-serif;
          text-transform: uppercase;
          font-size: 1.8rem;
          color: #333;
          padding-bottom: 1rem;
          border-bottom: 1px solid #979797;
        }
        .rating {
          margin-top: -5rem;
          font-size: 2.3rem;
          color: orange;
          float: right;
          text-align: right;
        }
        h6 {
          font-size: 1.5rem;
        }
        p {
          margin: 0;
          line-height: 2rem;
        }
        .plan-row {
          border-top: 1px solid #e7eaec;
        }
        .plan-time {
          position: relative;
          padding-top: .6rem;
          border-right: 1px solid #e7eaec;
          small { color: $positive; }
        }
        .plan-icon {
          font-size: 1.5rem;
          position: absolute;
          top: 0;
          right: 0;
          padding: 3px;
          width: 25px;
          text-align: center;
          border-bottom: 1px solid #e7eaec;
          border-left: 1px solid #e7eaec;
          background: #f8f8f8;
        }
        .plan-desc {
          padding-left: 1rem;
          padding-top: 1rem;
          h6 {
            margin-bottom: .3rem;
          }
          p {
            font-size: 1rem;
            line-height: 1.5rem;
          }
        }
        
        .tx-rt { text-align: right; }
        .tx-ct { text-align: center; }

       }
  }    
}
