header-component {

// Global navigation styles.
.global-container {
    @include linearGradient(#5836B9, #9152C8);
    position: fixed;
    will-change: transform, top;
    width: 100%;
    z-index: 10;
    padding-top: 1rem;

    .global-nav {
        padding: 1.8rem;
        
        .logo {
            float: left;
            width: 18rem;
            img { width: 100%; }
        }

        ul {
            float: left;
            margin: .5rem 0 0 1.5rem;
            padding-left: 2rem;   

            @media (max-width: 1023px) {
                padding-left: 0;
            }

        li {
            display: inline;
            list-style: none;
            border-right: 1px solid #D2C5EB;
            padding: 0 1rem;
            
            span { vertical-align: middle; }
            &:last-of-type { border-right:0; }
            &:first-of-type { padding-left: 0; }
            &.active {
              a, ion-icon {
                color: white;
                opacity: 1;
                font-weight: bold;
                
              }
            }
            ion-icon {
                color: white;
                opacity: .7;
                font-size: 1.8rem;
            }
            a {
                color: white;
                font-family: 'Varela Round', sans-serif;
                opacity: .7;
                text-decoration: none;
                font-size: 1.5rem; 
                
            }
        }
    }

    .actions {
        float: right;

        button {
            font-size: 1.7rem;
            font-weight: bold;
            font-family: 'Varela Round', sans-serif;
            color: #fff;
            padding: .9rem 2rem;
            border-radius: 2rem;;
            border: 2px solid #B286D9;
            background: rgba(255, 255, 255, 0.1);
            transition: all 300ms ease;
            &:first-of-type { margin-right: 1rem; }
            &:hover { background: rgba(255, 255, 255, 0.3); }
            &.active { background: rgba(255, 255, 0, .8); color: #B286D9 }
        }
      } // END .actions
    } // END .global-nav

    // Global filter navigation styules
    .filter-nav {
        font-family: 'Varela Round', sans-serif;
        font-size: 1.5rem;
        color: #fff;
        background-color: #909090;
        padding: 1rem;
        width: 100%;
        float: left;

        .filter-title {
            //width: 7rem;
            float: left;
            font-weight: bold;
            text-transform: uppercase;
            margin-left: .7rem;  
        }
        .filter-list {
            display: flex;

            ion-list {
              
              margin: 0 !important;
              padding: 0 !important;
              list-style-type: none;
              height: 20px;
              border: 0;

              ion-item {
                background-color: transparent !important;
                text-align: right;
                border: 0;

                .item-inner, .item-cover, .input-wrapper {
                  height: 20px;
                }

                ion-label {
                  font-family: 'Varela Round', sans-serif;
                  color: #fff;
                  margin: 0;
                }
                
                .select-md {
                  padding: 0 10px 0 0;
                }

                .select-icon-inner {
                    color: #fff;
                }
                .select-text {
                  font-family: 'Varela Round', sans-serif;
                  color: yellow;
                  padding: 0 .3rem 0 .6rem;
                }

            }
          }
        }
        .filter-item {
            flex-wrap: wrap;
            border-right: 1px solid #ccc;
            color: #fff;
            padding: 0 1rem;
            &:last-of-type {
                flex-grow: 1;
                border-right:0;
            }
            &:nth-last-of-type(2) { 
              border-right:0;
            }
        }
        .is-checked {
            background: #777;
            color: #fff;
            font-weight: bold;
        }
    } // END .filter-nav
  } // END .global-container
}
