// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.

@import "_mixins";
@import "_nvd3-css";

// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

// --------------------------------------------------
// Nvd3 - SVG text element color for our dark background screens
// text { fill: #fff; }

// --------------------------------------------------
// Global overrides
ion-content {
    background-image: url('../assets/custom/blurred-bg.png');
    background-size: cover;
}

.modal-wrapper {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.popover-md .popover-content {
    top: 60px !important;
    left: 45% !important;
    width: 40rem;
    border-radius: 0;
}
.tabs-md .tabbar,
.tabs-ios .tabbar {
    background: $highlight;
}
.tabs-md .tab-button,
.tabs-md .tab-button-icon,
.tabs-ios .tab-button,
.tabs-ios .tab-button-icon {
    color: rgba(255,255,255, 0.5) !important;
}
.tabs-md .tab-button[aria-selected=true] .tab-button-icon,
.tabs-ios .tab-button[aria-selected=true] .tab-button-icon {
    color: rgba(255,255,255, 1) !important;
}

// Entension of ionic grid
ion-col[width-60] {
  -webkit-flex: 0 0 60%;
  -ms-flex: 0 0 60%;
  flex: 0 0 60%;
  max-width: 60%;
}
ion-col[width-40] {
  -webkit-flex: 0 0 40%;
  -ms-flex: 0 0 40%;
  flex: 0 0 40%;
  max-width: 40%;
}
