page-kol-profilejson {

svg.nvd3-svg {
  background-color: #f1f1f1;
}
text { fill: #000; }
// ---------------------------

.w-75 {
    float: left;
    width: 75%;
}
.w-25 {
    float: right;
    width: 25%;
}
.custom-top-nav {
    z-index: 200;
    background-color: #120A15;
}
ion-select {
  margin: 0;
  padding: 0;
}
.item-md.item-block .item-inner {
  padding-right: 0;
}
.input-wrapper {
  //background-color: #f7f7f7;
  padding-left: 0;
}
.select-md {
  padding-top: 19px;
}
.select-text {
  font-size: 10px;
  width: 10rem;
  font-size: 14px;
  color: #666;
}
.item-md {
  padding-left: 8px;
}
.item-inner {
    border-bottom: 0 !important;
}
ion-label {
  font-size: 1.4rem;
}
.private-note {
  color: $alert;
}
.kol-container {
   display: flex;
   flex-flow: row wrap;
   align-content: flex-end;
}

  .kol-card {
      width: 100%;
      
      header {
        height: 15rem;
        //background: linear-gradient(177deg, #9152C8 40%, #C96DD8 60%, #fff 61%, #fff 100%);
        background: linear-gradient(90deg, #5B38B9 0%, #C96DD8 60%, #EB6660 100%);
        color: #FFFFFF;
        text-align: center;
        padding: 1rem 1rem 0 1rem;
        position: relative;
        border-top-left-radius: .5rem;
        border-top-right-radius: .5rem;
        h1 {
            font-family: 'Montserrat', sans-serif;
            font-size: 4rem;
            text-align: left;
        }
        img {
          height: 12rem;
          width: 12rem;
          float: left;
          margin: 0 0 0 2rem;
        }
        ion-icon {
            font-size: 4rem;
        }
      }
      section {
        background: #fff;
        padding: 5rem 2rem 2rem 3rem;
        border-bottom-left-radius: .5rem;
        border-bottom-right-radius: .5rem;
        color: #444;

        &:nth-of-type(2) {
          padding-top: 0;
        }
        
        h1 {
          font-family: 'Montserrat', sans-serif;
          text-transform: uppercase;
          font-size: 1.8rem;
          color: #444;
          padding-bottom: 1rem;
          border-bottom: 1px solid #979797;
        }
        h6 {
          font-size: 1.5rem;
        }
        span.journal-section {
          display: block;
          padding-top: 2rem;
        }
        p {
          margin: 0;
          line-height: 2rem;

          &.journal {
            padding: .2rem;
            width: 100%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }
        .plan-row {
          border-top: 1px solid #e7eaec;
        }
        .plan-time {
          position: relative;
          padding-top: .6rem;
          border-right: 1px solid #e7eaec;
          small { color: $positive; }
        }
        .plan-icon {
          font-size: 1.5rem;
          position: absolute;
          top: 0;
          right: 0;
          padding: 3px;
          width: 25px;
          text-align: center;
          border-bottom: 1px solid #e7eaec;
          border-left: 1px solid #e7eaec;
          background: #f8f8f8;
        }
        .plan-desc {
          padding-left: 1rem;
          padding-top: 1rem;
          h6 {
            margin-bottom: .3rem;
          }
          p {
            font-size: 1rem;
            line-height: 1.5rem;
          }
        }
      
        .tx-rt { text-align: right; }
        .tx-ct { text-align: center; }

       }
  }    
}
.tx-rt { text-align: right; }