<ion-header class="custom-top-nav">
  <ion-navbar>
    <ion-title>Back</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

<div class="kol-container">
<div class="kol-card">
        <header>
          <ion-row responsive-sm>
              <ion-col width-80>
                <h1><a (click)="generalShare()"><ion-icon name="share"></ion-icon></a> {{kol.FirstName}} {{kol.LastName}}</h1>
                <ion-icon name="contact" class="icon-img"></ion-icon>
                <!--<img src="{{kol.imgPath}}" /> -->
              </ion-col>
              <ion-col width-20>
                <ion-row>
                  <ion-col width-75 class="tx-rt">
                    <h3>TIER 1</h3>
                    <h4>Score: <span class="score">{{kol.Score}}</span></h4>
                  </ion-col>
                  <ion-col width-25 class="bookmark">
                    <ion-icon *ngIf="kol.top40" name="ios-bookmark"></ion-icon>
                    <ion-icon *ngIf="!kol.top40" name="ios-bookmark-outline"></ion-icon>
                  </ion-col>
                </ion-row>
              </ion-col>
          </ion-row>
        </header>
        <section>
          <ion-row responsive-sm>
              <ion-col width-60 padding>
                <h1>Contact Info</h1>
                <p>Rank: <span class="rank">{{kol.rank}}</span></p>
                <p>Number: <span class="number">8</span></p>
                <p>1430 Tulane Avenue</p>
                <p>New Orleans, LA 70112</p>
                <p>Telephone: +1 504 988 7869</p>
                <p>Fax: +1 504 988 5059</p>
                <p>E-mail: email@email.edu</p>

                
                <!-- bio -->
                <h1>Bio</h1>
                <ion-row>
                  <ion-col>
                    <p>Duis faucibus felis molestie metus bibendum, cursus egestas lorem scelerisque. Sed et consectetur ante. Curabitur auctor magna ligula, in scelerisque lacus pharetra quis.</p>
                  </ion-col>
                </ion-row>

                <span class="journal-section" *ngIf="kol.Publications__pr">
                  <h1>Journals ( {{kol.Publications__pr.pubsCount}} ) </h1>
                  <ion-row>
                    <ion-col>
                      <p class="journal" title="{{pub.Journal_Name__c}}" *ngFor="let pub of kol.Publications__pr.records">{{pub.Journal_Name__c}}</p>
                    </ion-col>
                  </ion-row>
                </span>

                <h1>Recent Accomplishments</h1>
                <ion-row>
                  <ion-col width-50>
                    <small>Media</small>
                  </ion-col>
                  <ion-col width-50  class="tx-rt">
                    <small>October 1, 2016</small>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col>
                    <p>Duis faucibus felis molestie metus bibendum, cursus egestas lorem scelerisque. Sed et consectetur ante.</p>
                  </ion-col>
                </ion-row>
                <hr>
                <ion-row>
                  <ion-col width-50>
                    <small>Publication</small>
                  </ion-col>
                  <ion-col width-50 class="tx-rt">
                    <small>September 12, 2016</small>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col>
                    <p>Duis faucibus felis molestie metus bibendum, cursus egestas lorem scelerisque. Sed et consectetur ante.</p>
                  </ion-col>
                </ion-row>

              </ion-col>
     

              <!-- engagements -->
              <ion-col width-40 padding> 
                <h1>Engagement Plan</h1>
                  <ion-row>
                    <ion-col width-75>
                      <h6>Live Speaker Training</h6>
                      <p>March 21, 2017, Orlando FL</p>
                      <a (click)="viewDetails()">View Details</a> •
                      <a (click)="addNoteTo(currentEngagement)">Add Note</a>
                    </ion-col>
                    <ion-col width-25  class="tx-ct">
                      <ion-badge color="grey">Upcoming</ion-badge>
                    </ion-col>
                  </ion-row>
                  <hr>
                  <ion-row>
                    <ion-col width-75>
                      <h6>ASCO Ask The Experts Presenter</h6>
                      <p>February 01, 2017, Orlando FL</p>
                      <a (click)="viewDetails()">View Details</a> •
                      <a (click)="addNoteTo(currentEngagement)">Add Note</a>
                    </ion-col>
                    <ion-col width-25 class="tx-ct">
                      <ion-badge color="secondary">Successful</ion-badge>
                    </ion-col>
                  </ion-row>
                  
                  <hr>
                  <ion-row>
                    <ion-col width-75>
                      <h6>ASCO Product Theater</h6>
                      <p>January 21, 2017, Orlando FL</p>
                      <a (click)="viewDetails()">View Details</a> •
                      <a (click)="addNoteTo(currentEngagement)">Add Note</a>
                    </ion-col>
                    <ion-col width-25  class="tx-ct">
                      <ion-badge color="danger">Canceled</ion-badge>
                    </ion-col>
                  </ion-row>

                  <ion-row class="tx-ct">
                    <button ion-button icon-right clear block (click)="showEngagements()" color="primary">
                       View All Engagements
                      <ion-icon name="arrow-dropdown"></ion-icon>
                    </button>
                  </ion-row>

                  <div [hidden]="shouldHide">
                    <ion-row>
                      <ion-col width-75>
                        <h6>Another Engagement Plan</h6>
                        <p>February 01, 2017, Orlando FL</p>
                        <a (click)="viewDetails()">View Details</a> •
                        <a (click)="addNoteTo(currentEngagement)">Add Note</a>
                      </ion-col>
                      <ion-col width-25 class="tx-ct">
                        <ion-badge color="secondary">Successful</ion-badge>
                      </ion-col>
                    </ion-row>
                    <hr>
                    <ion-row>
                      <ion-col width-75>
                        <h6>Another Engagement Plan</h6>
                        <p>January 21, 2017, Orlando FL</p>
                        <a (click)="viewDetails()">View Details</a> •
                        <a (click)="addNoteTo(currentEngagement)">Add Note</a>
                      </ion-col>
                      <ion-col width-25  class="tx-ct">
                        <ion-badge color="danger">Canceled</ion-badge>
                      </ion-col>
                    </ion-row>
                  </div>
              <!-- / engagements -->

              

              <!-- notes -->
                <h1>Notes</h1>
                  <ion-row>
                      <ion-col>
                        <p class="public-note">Dr. {{kol.FirstName}} {{kol.LastName}} was an incredible representative of our 
                          product and interacted with attendees with sincere authenticity.</p>
                      </ion-col>
                  </ion-row>
                  <ion-row> 
                      <ion-col width-50>
                        <small>PUBLIC - Barny Hoeffler</small>
                      </ion-col>
                      <ion-col width-50  class="tx-rt">
                        <small>January 01, 2016</small>
                      </ion-col>
                  </ion-row>
                <hr>
                <div  class="private-bg">
                   <ion-row>
                    <ion-col color="danger">
                      <p class="private-note">We should use Dr. {{kol.LastName}} again for future engagments,
                        this KOL was knowledgable and congenial to producers and attendees.</p>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col width-50 class="private-note">
                      <small>PRIVATE - Joanne Wilson</small>
                    </ion-col>
                    <ion-col width-50  class="tx-rt private-note">
                      <small>October 1, 2016</small>
                    </ion-col>
                  </ion-row>
                </div>
                <br>
                <div class="add-note">
                  <h1>Add Note</h1>
                    <ion-list>
                      <ion-input #addNoteInput placeholder="Add note..."> </ion-input>
                          <ion-item>
                              <ion-label>Post as:</ion-label>
                              <ion-select [(ngModel)]="privacy.type">
                                <ion-option *ngFor="let key of privacyKeys">{{key}}</ion-option>
                              </ion-select>
                          </ion-item>
                          <ion-item>
                              <ion-label>Engagement:</ion-label>
                              <ion-select [(ngModel)]="engagement.name">
                                <ion-option *ngFor="let key of engagementKeys">{{key}}</ion-option>
                              </ion-select>
                          </ion-item>
                          <button ion-button icon-left block color="grey">
                            <ion-icon name="checkmark"></ion-icon> Save
                          </button>
                      </ion-list>
                  </div>
                <!-- / notes -->

                </ion-col>
          </ion-row>

          
          
  

        </section>
        <section>
          <h1>Relationship Data</h1>
          <div>
            <nvd3 [options]="options" [data]="data"></nvd3>
          </div>
    </section>
    </div>
  </div>


</ion-content>
