<ion-header class="custom-top-nav">
  <ion-navbar>
    <ion-title>Back</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

<div class="kol-container">
<div class="kol-card">
        <header>
          <ion-row>
              <ion-col width-70>
                <h1> {{kol.FirstName}} {{kol.LastName}} </h1>
                <img src="{{kol.imgPath}}" /> 
              </ion-col>
              <ion-col width-30 class="tx-rt">
                <ion-icon name="md-star" item-left></ion-icon>
                <ion-icon name="md-star" item-left></ion-icon>
                <ion-icon name="md-star-half" item-left></ion-icon>&nbsp; &nbsp;
                
                <ion-icon name="share"></ion-icon>&nbsp; &nbsp;
                <ion-icon name="ios-heart" item-left></ion-icon>
              </ion-col>
          </ion-row>
        </header>
        <section>
          <ion-row>
              <ion-col width-33 padding>
                <h1>Contact Info</h1>
                <p>Rank: <span class="rank">{{kol.rank}}</span></p>
                <p>Number: <span class="number">8</span></p>
                <p>1430 Tulane Avenue</p>
                <p>New Orleans, LA 70112</p>
                <p>Telephone: +1 504 988 7869</p>
                <p>Fax: +1 504 988 5059</p>
                <p>E-mail: email@email.edu</p>

                <!-- notes -->
                <h1>Notes</h1>
                  <ion-row>
                      <ion-col>
                        <p class="public-note">A public note about a KOL.</p>
                      </ion-col>
                  </ion-row>
                  <ion-row> 
                      <ion-col width-50>
                        <small>Barny Hoeffler</small>
                      </ion-col>
                      <ion-col width-50  class="tx-rt">
                        <small>January 01, 2016</small>
                      </ion-col>
                  </ion-row>
                <hr>
                  <ion-row>
                      <ion-col>
                        <p class="public-note">A public note about a KOL.</p>
                      </ion-col>
                  </ion-row>
                  <ion-row> 
                      <ion-col width-50>
                        <small>John Wilson</small>
                      </ion-col>
                      <ion-col width-50  class="tx-rt">
                        <small>December 21, 2016</small>
                      </ion-col>
                  </ion-row>
                <hr>
                   <ion-row>
                    <ion-col color="danger">
                      <p class="private-note">A private note about a KOL.</p>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col width-50 class="private-note">
                      <small>Jane Doe</small>
                    </ion-col>
                    <ion-col width-50  class="tx-rt private-note">
                      <small>October 1, 2016</small>
                    </ion-col>
                  </ion-row>
                <br>
                <ion-input placeholder="Add note..."></ion-input>
                <ion-row radio-group>
                  <ion-list>
                        <ion-item>
                            <ion-label>Post as:</ion-label>
                            <ion-select [(ngModel)]="privacy.kind">
                              <ion-option *ngFor="let key of modeKeys">{{key}}</ion-option>
                            </ion-select>
                        </ion-item>
                    </ion-list>
                    <ion-col class="tx-rt">
                     <button ion-button icon-left small outline color="primary">
                      <ion-icon name="checkmark"></ion-icon> Save
                     </button>
                  </ion-col>
              </ion-row>
               
                <!-- / notes -->

              </ion-col>
              <ion-col width-33 padding> 
                <h1>Bio</h1>
                <ion-row>
                  <ion-col>
                    <p>Duis faucibus felis molestie metus bibendum, cursus egestas lorem scelerisque. Sed et consectetur ante. Curabitur auctor magna ligula, in scelerisque lacus pharetra quis.</p>
                  </ion-col>
                </ion-row>

                <span class="journal-section" *ngIf="kol.Publications__pr">
                  <h1>Journals ( {{kol.Publications__pr.pubsCount}} ) </h1>
                  <ion-row>
                    <ion-col>
                      <p class="journal" title="{{pub.Journal_Name__c}}" *ngFor="let pub of kol.Publications__pr.records">{{pub.Journal_Name__c}}</p>
                    </ion-col>
                  </ion-row>
                </span>

                <h1>Recent Accomplishments</h1>
                <ion-row>
                  <ion-col width-50>
                    <small>Media</small>
                  </ion-col>
                  <ion-col width-50  class="tx-rt">
                    <small>October 1, 2016</small>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col>
                    <p>Duis faucibus felis molestie metus bibendum, cursus egestas lorem scelerisque. Sed et consectetur ante.</p>
                  </ion-col>
                </ion-row>
                <hr>
                <ion-row>
                  <ion-col width-50>
                    <small>Publication</small>
                  </ion-col>
                  <ion-col width-50 class="tx-rt">
                    <small>September 12, 2016</small>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col>
                    <p>Duis faucibus felis molestie metus bibendum, cursus egestas lorem scelerisque. Sed et consectetur ante.</p>
                  </ion-col>
                </ion-row>

              </ion-col>
              <ion-col width-33 padding> 
                <h1>Upcoming Activities</h1>
                  <ion-row>
                    <ion-col width-75>
                      <h6>Live Speaker Training</h6>
                      <p>March 21, 2017, Orlando FL</p>
                    </ion-col>
                    <ion-col width-25  class="tx-ct">
                      <p>Q1</p>
                    </ion-col>
                  </ion-row>
                  <hr>
                  <ion-row>
                    <ion-col width-75>
                      <h6>ASCO GU Ask The Experts Presenter</h6>
                      <p>February 01, 2017, Orlando FL</p>
                    </ion-col>
                    <ion-col width-25  class="tx-ct">
                      <p>Q2</p>
                    </ion-col>
                  </ion-row>
                  <hr>
                  <ion-row>
                    <ion-col width-75>
                      <h6>ASCO Product Theater</h6>
                      <p>January 21, 2017, Orlando FL</p>
                    </ion-col>
                    <ion-col width-25  class="tx-ct">
                      <p>Q3</p>
                    </ion-col>
                  </ion-row>
                  <hr>
                  <ion-row>
                    <ion-col width-75>
                      <h6>Expert Panel Broadcast</h6>
                      <p>October 24, 2017, Orlando FL</p>
                    </ion-col>
                    <ion-col width-25  class="tx-ct">
                      <p>Q3</p>
                    </ion-col>
                  </ion-row>

                  <h1>Engagement Plan</h1>
                  <ion-row class="plan-row">
                    <ion-col width-33 class="plan-time">
                      <ion-icon name="call" class="plan-icon"></ion-icon>
                      <p>7:00 am</p>
                      <small>3 hours ago</small>
                    </ion-col>
                    <ion-col width-67 class="plan-desc">
                      <h6>Follow up phone call</h6>
                      <p>Duis faucibus felis molestie metus bibendum, cursus egestas.</p>
                    </ion-col>
                  </ion-row>

                  <ion-row class="plan-row">
                    <ion-col width-33 class="plan-time">
                      <ion-icon name="navigate" class="plan-icon"></ion-icon>
                      <p>12:00 pm</p>
                      <small>Tomorrow</small>
                    </ion-col>
                    <ion-col width-67 class="plan-desc">
                      <h6>Lunch meeting</h6>
                      <p>Duis faucibus felis molestie metus bibendum, cursus egestas.</p>
                    </ion-col>
                  </ion-row>
              </ion-col>
          </ion-row>
        </section>
        <section>
          <h1>Relationship Data</h1>
          <div>
            <nvd3 [options]="options" [data]="data"></nvd3>
          </div>
    </section>
    </div>
  </div>


</ion-content>
