page-scatterplot {

}

.nvtooltip {
  .kol-card {
      width: 22rem;
      
      header {
        background: linear-gradient(177deg, #9152C8 40%, #9152C8 60%, #fff 61%, #fff 100%);
        color: #FFFFFF;
        text-align: center;
        padding: 1rem 1rem 0 1rem;
        position: relative;
        border-top-left-radius: .5rem;
        border-top-right-radius: .5rem;
        img {
          height: 8rem;
          width: 8rem;
          margin: 0 auto;
          &:hover { cursor: pointer; }
        }
        .check {
          position: absolute;
          font-size: 3.2rem;
          margin: .5rem 0 0 1rem;
          top: 0;
          left: 0;
        }
        .un-checked { opacity: .5; }
        .checked    { opacity: 1; }
      }
      section {
        background: #fff;
        padding: 0 1rem 2rem 1rem;
        height: 8rem;
        h1 {
          font-size: 1.8rem;
          margin: 0 0 .5rem 0;
        }
        p {
          text-align: left;
          display: block;
          margin: .7rem 0;
          padding: 0;
          font-size: 1.3rem;
        }
        a {
          text-decoration: none;
          width: 100%;
          display: block;
          padding: .7rem 0;
          border-top: 1px solid #eee;
        }
       }
        footer {
          background: linear-gradient(177deg, #fff 0%, #fff 10%, #f2f2f2 11%, #f7f7f7 100%);
          padding: 1rem 1rem 0 1rem;
          border-bottom-left-radius: .5rem;
          border-bottom-right-radius: .5rem;
          position: relative;
        }
  }    
    
}
