page-score {

.score-container {
   max-width: 1024px;
   margin: 14rem auto 0 auto;
   display: flex;
   flex-flow: row wrap;
   justify-content: space-between;

    section {
        width: 46%;
        background-color: rgba(255, 255, 255, .2);
        border-radius: .3rem; 
        margin: 2rem;
        padding: 2rem;

        .item-md.item-block .item-inner, 
        .item-block .item-inner {
            border-bottom: 0;
        }
        ion-item {
            background-color: transparent; 
        }
        ion-label {
            font-size: 2rem;
            color: white;
        }
        // .range-md .range-pin {
        //     //color: #444;
        // }
        .badge-md {
            font-size: 2rem;
            background-color: rgba(255, 255, 255, .2);
        }
      }
    }

}