page-score {

.score-container {
   max-width: 1024px;
   margin: 14rem auto 0 auto;
   display: flex;
   flex-flow: row wrap;
   
   aside {
    display: flex;
    flex-flow: row;
    width: 49%;
    height: 13rem;
    margin: .5rem;
    padding: 0;
    justify-content: flex-end;
    padding: 0 1rem 0 0;
    //border: 1px solid #ccc;
    button {
        margin-top: auto;
    }
   }

    section {
        
        width: 48%;
        background-color: rgba(255, 255, 255, .2);
        border-radius: .5rem; 
        margin: .8rem;
        padding: 0 .5rem;

        .item-md.item-block .item-inner, 
        .item-block .item-inner {
            border-bottom: 0;
        }
        ion-item {
            background-color: transparent; 
        }
        ion-label {
            font-size: 2rem;
            color: white;
        }
        ion-range  {
            padding: 0 .5;
            margin: 0;
        }
        .badge {
            padding: .5rem 1rem;
            font-size: 2rem;
            background-color: rgba(255, 255, 255, .2);
        }
      }
    }

}