page-score {

.text-ios-primary {
    color: white;
}

.score-container {
   max-width: 1024px;
   display: flex;

   .total {
        color: white;
        position: fixed;
        background-color: rgba(255, 255, 255, .2);
        border-radius: .5rem;
        text-align: center;
        overflow: auto;
        width: 28%;
        margin-top: .7rem;
        right: 1.5rem;
       
       h1 {
           padding: 1rem 0;
           margin: 1rem;
           font-size: 2rem;
           border-bottom: 1px solid #ccc;
       }
       .total-count {
           background: transparent;
           font-size: 9rem;
           width: 100%;
           text-align: center;
           font-family: monospace;
           border: 0;
           padding: 0;
           overflow: visible;
           &.invalidTotal {
               color: $alert;
           }
       }
       .errorMsg {
           min-height: 5rem;
           padding: 0 1rem;
           font-size: 1.8rem;
           
       }
       .button-container {
           margin: 1rem 0;
       }
   }

   .slide-container {
       width: 70%;
       
        section {
            background-color: rgba(255, 255, 255, .2);
            border-radius: .5rem; 
            margin: .8rem;
            padding: .5rem;

            .item-md.item-block .item-inner, 
            .item-block .item-inner {
                border-bottom: 0;
            }
            ion-item {
                background-color: transparent; 
            }
            .input-wrapper > ion-label {
                width: 100%;
                font-size: 1.7rem;
                color: white;
                margin: .3rem 0;
                padding: 0;
            }
            ion-range  {
                padding: .2rem;
                margin: 0;
            }
            .badge {
                width: 5rem;
                margin: 2.6rem 0 0 1.5rem;
                padding-bottom: .5rem;
                font-size: 2rem;
                background-color: rgba(255, 255, 255, .2);
            }
            }
}   
    }
}