page-cardlist {


.card-container {
   max-width: 1024px;
   margin: 15rem auto 0 auto;
   display: flex;
   flex-flow: row wrap;
   align-content: flex-end;
}

  .kol-card {
      margin: 0 0 3rem 3rem;
      width: 22rem;
      
      header {
        background: linear-gradient(177deg, #9152C8 40%, #9152C8 60%, #fff 61%, #fff 100%);
        color: #FFFFFF;
        text-align: center;
        padding: 1rem 1rem 0 1rem;
        position: relative;
        border-top-left-radius: .5rem;
        border-top-right-radius: .5rem;
        img {
          height: 8rem;
          width: 8rem;
          margin: 0 auto;
          &:hover { cursor: pointer; }
        }
        .check {
          position: absolute;
          font-size: 3.2rem;
          margin: .5rem 0 0 1rem;
          top: 0;
          left: 0;
        }
        .un-checked { opacity: .5; }
        .checked    { opacity: 1; }
      }
      section {
        background: #fff;
        padding: 0 1rem 2rem 1rem;
        height: 12rem;
        overflow-y: auto;
        h1 {
          font-size: 1.8rem;
          margin: 0 0 .5rem 0;
        }
        p {
          margin: 0;
          font-size: 1.3rem;
        }
       }
        footer {
          background: linear-gradient(177deg, #fff 0%, #fff 10%, #f2f2f2 11%, #f7f7f7 100%);
          padding: 1rem 1rem 0 1rem;
          border-bottom-left-radius: .5rem;
          border-bottom-right-radius: .5rem;
          position: relative;
          .rating {
            float: left;
            color: orange;
            font-size: 2.3rem;
          }
          .info {
            &:first-child { font-size: 3rem; }
            float: right;
            color: #9152C8;
            font-size: 2.8rem;
          }
        }
  }    
    



} // END Ionic Scoping "page-home" 
