<ion-content padding>
  <div class="card-container grid">

    <div *ngFor="let kol of kols; let i=index" >
        <div class="kol-card element-item" data-category="transition">
            <header>
                <ion-icon item-left class="check un-checked"
                    name="ios-checkmark-circle-outline"
                    (click)="selectedStatus[i]=!selectedStatus[i]"
                    [class.checked]="selectedStatus[i]">
                 </ion-icon>
                 <!--Currently this uses the ng index, needs to be adjusted to get an ID -->
                <span (click)="goToKOL(i)"><img src="{{kol.koldetails.imgPath}}" /></span>
            
            </header>
            <section>
                <h1 class="name">{{kol.koldetails.firstName}} {{kol.koldetails.lastName}} {{i}}</h1>
                <p>Rank: <span class="rank">{{kol.koldetails.rank}}</span></p>
                <p>ID: <span class="number">{{kol.id}}</span></p>
                <p *ngFor="let pub of kol.koldetails.publications">
                    Pub: {{pub.journal}}
                </p>
                
            </section>
            <footer class="cf">
                <div class="rating">
                    <ion-icon name="md-star" item-left></ion-icon>
                    <ion-icon name="md-star" item-left></ion-icon>
                    <ion-icon name="md-star-half" item-left></ion-icon>
                </div>
                <div class="info">
                    <ion-icon name="ios-flag-outline" item-left></ion-icon>
                    <ion-icon name="{{kol.favIconClass}}" item-left></ion-icon>
                </div>
            </footer>
        </div>
    </div>
  </div> <!-- END card-container-->

  
  <!--
  // *** TESTING - to be removed ***
      <h1>Add Values</h1>
    <input #newHero
      (keyup.enter)="addHero(newHero.value); newHero.value='' "
      (blur)="addHero(newHero.value); newHero.value='' ">
    <button (click)=addHero(newHero.value)>Add</button>
    <ul><li *ngFor="let hero of heroes">{{hero}}</li></ul>
  -->
</ion-content>