<ion-header class="custom-top-nav">
  <ion-navbar>
    <ion-title>Engagements</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="wrap">
  
  <header>
    <ion-list-header>Engagements</ion-list-header>
    <ion-list-header>KOLs</ion-list-header>
  </header>

  <div class="container">
      <section>
          <ion-list>
            <ion-item *ngFor="let engagement of engagements; let i = index" (click)="showRelatedKOLs(i)">
              <h1>{{ engagement.engName }}</h1>
              <p>{{ engagement.engDate }}</p>
              <h3>{{ engagement.engCity }}</h3>
            </ion-item>
          </ion-list>
      </section>
      <section *ngIf="kolList0">
        <ion-list>
          <ion-item *ngFor="let kol of kols" (click)="goToKOL(kol.Id)">
              <h1>{{ kol.FirstName }} {{ kol.LastName }} {{ kol.Degree }} </h1>
              <p>{{ kol.Affiliation }} </p>
              <ion-note item-right>
                <ion-badge color="{{kol.statusColor}}">{{kol.status}}</ion-badge>
              </ion-note>
            </ion-item>
          </ion-list>
      </section>
      <section *ngIf="kolList1">
        <ion-list>
          <ion-item *ngFor="let kol of kols2" (click)="goToKOL(kol.Id)">
              <h1>{{ kol.FirstName }} {{ kol.LastName }} {{ kol.Degree }} </h1>
              <p>{{ kol.Affiliation }} </p>
              <ion-note item-right>
                <ion-badge color="{{kol.statusColor}}">{{kol.status}}</ion-badge>
              </ion-note>
            </ion-item>
          </ion-list>
      </section>
      <section *ngIf="kolList2">
        <ion-list>
          <ion-item *ngFor="let kol of kols3" (click)="goToKOL(kol.Id)">
              <h1>{{ kol.FirstName }} {{ kol.LastName }} {{ kol.Degree }} </h1>
              <p>{{ kol.Affiliation }} </p>
              <ion-note item-right>
                <ion-badge color="{{kol.statusColor}}">{{kol.status}}</ion-badge>
              </ion-note>
            </ion-item>
          </ion-list>
      </section>
  
  </div>
</ion-content>