<div class="filter-component">
    <div class="overlay" padding>
        <div class="overlay__ct">

            <header>
                <!-- clearfix -->
                <div class="w-75 flex-head">
                    <h1>Adjust Filters</h1>
                    <span class="subtitle">(Total...)</span>
                    <span class="toggle-sets">
                <button ion-button round outline icon-right (click)="presentPopover($event)">Filter Sets <ion-icon name="arrow-dropdown"></ion-icon></button>
            </span>
                </div>
                <div class="w-25">
                    <div class="close" (click)="dismiss()">
                        <div full>
                            <ion-icon name="ios-close"></ion-icon>
                        </div>
                    </div>
                </div>
            </header>

            <section class="filter-container">
                <ion-content>
                    <div class="filter-section" id="specialty">
                        <h5>Specialty</h5>
                        <ul>
                            <li>
                                <ion-icon name="ios-checkmark-circle-outline"></ion-icon>Allergy and Immunology</li>
                            <li>
                                <ion-icon name="ios-checkmark-circle-outline"></ion-icon>Surgery</li>
                            <li>
                                <ion-icon name="ios-checkmark-circle-outline"></ion-icon>Endocrinology</li>
                        </ul>
                    </div>

                    <div class="filter-section" id="degree">
                        <h5>Degree</h5>
                        <ul>
                            <li [class.active]="filter.selected" *ngFor="let filter of fs.filters | categoryFilter:'degree'" (click)="filter.toggle()">
                                <span><a><ion-icon name="ios-checkmark-circle-outline"></ion-icon> {{filter.name}}</a></span>
                            </li>
                        </ul>
                    </div>
                    <div class="filter-section" id="associations">
                        <h5>Associations/Committee</h5>
                        <ul>
                            <li>
                                <ion-icon name="ios-checkmark-circle-outline"></ion-icon>AUA</li>
                            <li>
                                <ion-icon name="ios-checkmark-circle-outline"></ion-icon>ASCO</li>
                            <li>
                                <ion-icon name="ios-checkmark-circle-outline"></ion-icon>AACR</li>
                            <li>
                                <ion-icon name="ios-checkmark-circle-outline"></ion-icon>IASLC Communications Committee</li>
                        </ul>
                    </div>
                    <div class="filter-section" id="tier-category">
                        <h5>Tier</h5>
                        <ul>
                            <li>
                                <ion-icon name="ios-checkmark-circle-outline"></ion-icon>High (8-10)</li>
                            <li>
                                <ion-icon name="ios-checkmark-circle-outline"></ion-icon>Medium (4-7)</li>
                            <li>
                                <ion-icon name="ios-checkmark-circle-outline"></ion-icon>Low (1-3)</li>
                        </ul>
                    </div>
                    <div class="filter-section" id="region">
                        <h5>Region</h5>
                        <ul>
                            <li>
                                <ion-icon name="ios-checkmark-circle-outline"></ion-icon>North</li>
                            <li>
                                <ion-icon name="ios-checkmark-circle-outline"></ion-icon>South</li>
                            <li>
                                <ion-icon name="ios-checkmark-circle-outline"></ion-icon>West</li>
                            <li>
                                <ion-icon name="ios-checkmark-circle-outline"></ion-icon>East</li>
                        </ul>
                    </div>
                    <div class="filter-section" id="affiliations">
                        <h5>Affiliations</h5>
                        <ul>
                            <li>
                                <ion-icon name="ios-checkmark-circle-outline"></ion-icon>
                                Albany Medical</li>
                            <li>
                                <ion-icon name="ios-checkmark-circle-outline"></ion-icon>Allergy &amp; Asthma Specialists</li>
                            <li>
                                <ion-icon name="ios-checkmark-circle-outline"></ion-icon>Allergy, Asthma and Immunology</li>
                            <li>
                                <ion-icon name="ios-checkmark-circle-outline"></ion-icon>Boston Medical Center</li>
                            <li>
                                <ion-icon name="ios-checkmark-circle-outline"></ion-icon>Diabetes Associates</li>
                        </ul>
                    </div>
                    <div class="filter-section" id="journal-number">
                        <h5>Publications Score</h5>
                        <ul>
                            <li [class.active]="filter.selected" *ngFor="let filter of fs.filters | categoryFilter:'pubsCount'" (click)="filter.toggle()">
                                <span><a><ion-icon name="ios-checkmark-circle-outline"></ion-icon> {{filter.name}}</a></span>
                            </li>
                        </ul>
                    </div>
                    <div class="filter-section" id="publications">
                        <h5>Journals</h5>
                        <ul class="cf">
                            <li><span><a class="clip"><ion-icon name="ios-checkmark-circle-outline"></ion-icon>Academic emergency medicine</a></span></li>
                            <li><span><a class="clip"><ion-icon name="ios-checkmark-circle-outline"></ion-icon>Acta haematologica</a></span></li>
                            <li><span><a class="clip"><ion-icon name="ios-checkmark-circle-outline"></ion-icon>Allergy</a></span></li>
                            <li><span><a class="clip"><ion-icon name="ios-checkmark-circle-outline"></ion-icon>Allergy &amp; rhinology</a></span></li>
                            <li><span><a class="clip"><ion-icon name="ios-checkmark-circle-outline"></ion-icon>Allergy and asthma proceedings</a></span></li>
                            <li><span><a class="clip"><ion-icon name="ios-checkmark-circle-outline"></ion-icon>American journal of rhinology &amp; allergy</a></span></li>
                            <li><span><a class="clip"><ion-icon name="ios-checkmark-circle-outline"></ion-icon>Annals of allergy, asthma &amp; immunology</a></span></li>
                            <li><span><a class="clip"><ion-icon name="ios-checkmark-circle-outline"></ion-icon>Cleveland Clinic journal of medicine</a></span></li>
                            <li><span><a class="clip"><ion-icon name="ios-checkmark-circle-outline"></ion-icon>Clinical and experimental allergy</a></span></li>
                            <li><span><a class="clip"><ion-icon name="ios-checkmark-circle-outline"></ion-icon>Clinical and experimental immunology</a></span></li>
                            <li><span><a class="clip"><ion-icon name="ios-checkmark-circle-outline"></ion-icon>Current opinion in allergy and clinical immunology</a></span></li>
                            <li><span><a class="clip"><ion-icon name="ios-checkmark-circle-outline"></ion-icon>Immunology and allergy clinics of North America</a></span></li>
                            <li><span><a class="clip"><ion-icon name="ios-checkmark-circle-outline"></ion-icon>Immunotherapy</a></span></li>
                            <li><span><a class="clip"><ion-icon name="ios-checkmark-circle-outline"></ion-icon>International archives of allergy and immunology</a></span></li>
                            <li><span><a class="clip"><ion-icon name="ios-checkmark-circle-outline"></ion-icon>Journal of managed care &amp; specialty pharmacy</a></span></li>
                            <li><span><a class="clip"><ion-icon name="ios-checkmark-circle-outline"></ion-icon>Medical education</a></span></li>
                            <li><span><a class="clip"><ion-icon name="ios-checkmark-circle-outline"></ion-icon>Molecular immunology</a></span></li>
                            <li><span><a class="clip"><ion-icon name="ios-checkmark-circle-outline"></ion-icon>Pediatric allergy and immunology</a></span></li>
                            <li><span><a class="clip"><ion-icon name="ios-checkmark-circle-outline"></ion-icon>Pediatrics</a></span></li>
                            <li><span><a class="clip"><ion-icon name="ios-checkmark-circle-outline"></ion-icon>PloS one</a></span></li>
                            <li><span><a class="clip"><ion-icon name="ios-checkmark-circle-outline"></ion-icon>Postgraduate medicine</a></span></li>
                            <li><span><a class="clip"><ion-icon name="ios-checkmark-circle-outline"></ion-icon>Puerto Rico health sciences journal</a></span></li>
                            <li><span><a class="clip"><ion-icon name="ios-checkmark-circle-outline"></ion-icon>The American journal of managed care</a></span></li>
                            <li><span><a class="clip"><ion-icon name="ios-checkmark-circle-outline"></ion-icon>The Journal of allergy and clinical immunology</a></span></li>
                            <li><span><a class="clip"><ion-icon name="ios-checkmark-circle-outline"></ion-icon>The Journal of experimental medicine</a></span></li>
                            <li><span><a class="clip"><ion-icon name="ios-checkmark-circle-outline"></ion-icon>The Journal of pediatrics</a></span></li>
                            <li><span><a class="clip"><ion-icon name="ios-checkmark-circle-outline"></ion-icon>The Journal of the American Osteopathic Association</a></span></li>
                            <li><span><a class="clip"><ion-icon name="ios-checkmark-circle-outline"></ion-icon>The New England journal of medicine</a></span></li>
                            <li><span><a class="clip"><ion-icon name="ios-checkmark-circle-outline"></ion-icon>The World Allergy Organization journal</a></span></li>
                            <li><span><a class="clip"><ion-icon name="ios-checkmark-circle-outline"></ion-icon>Transfusion</a></span></li>
                        </ul>
                    </div>
                    <!--<div class="filter-section" id="publications">
                <h5>Publications</h5>
                <ul class="cf">
                    <li *ngFor="let kol of kols">
                        <span *ngIf="kol.Publications__pr">
                        <a class="clip" *ngFor="let pub of kol.Publications__pr.records">
                            <span><a class="clip"><ion-icon name="ios-checkmark-circle-outline"></ion-icon></a></span>
                            {{pub.Journal_Name__c}}
                        </a>
                        </span>
                    </li>
                </ul>
            </div>-->
                    <div class="filter-section" id="clinical-trials">
                        <h5>Clinical Trials</h5>
                        <ul>
                            <li>
                                <ion-icon name="ios-checkmark-circle-outline"></ion-icon>
                                < 5</li>
                                    <li>
                                        <ion-icon name="ios-checkmark-circle-outline"></ion-icon>
                                        < 10>
                                    </li>
                                    <li>
                                        <ion-icon name="ios-checkmark-circle-outline"></ion-icon>
                                        < 20>
                                    </li>
                                    <li>
                                        <ion-icon name="ios-checkmark-circle-outline"></ion-icon>20+</li>
                        </ul>
                    </div>
                    <div class="filter-section" id="peer-referrals">
                        <h5>Peer Referrals</h5>
                        <ul>
                            <li>
                                <ion-icon name="ios-checkmark-circle-outline"></ion-icon>
                                < 5</li>
                                    <li>
                                        <ion-icon name="ios-checkmark-circle-outline"></ion-icon>
                                        < 10>
                                    </li>
                                    <li>
                                        <ion-icon name="ios-checkmark-circle-outline"></ion-icon>
                                        < 20>
                                    </li>
                                    <li>
                                        <ion-icon name="ios-checkmark-circle-outline"></ion-icon>20+</li>
                        </ul>
                    </div>
                    <div class="filter-section" id="cme-presentations">
                        <h5>CME Presentations</h5>
                        <ul>
                            <li>
                                <ion-icon name="ios-checkmark-circle-outline"></ion-icon>
                                < 5>
                            </li>
                            <li>
                                <ion-icon name="ios-checkmark-circle-outline"></ion-icon>
                                < 10>
                            </li>
                            <li>
                                <ion-icon name="ios-checkmark-circle-outline"></ion-icon>
                                < 20>
                            </li>
                            <li>
                                <ion-icon name="ios-checkmark-circle-outline"></ion-icon>20 +</li>
                        </ul>
                    </div>
                </ion-content>
            </section>

            <div class="filter-nav">
                <nav>
                    <ul>
                        <li>
                            <a (click)="scrollTo('specialty')">
                                <ion-icon name="ios-arrow-back"></ion-icon> Specialty</a>
                        </li>

                        <li [class.active]="active">
                            <a (click)="scrollTo('degree')">
                                <ion-icon name="ios-arrow-back"></ion-icon> Degree</a>
                        </li>
                        <li>
                            <a (click)="scrollTo('associations')">
                                <ion-icon name="ios-arrow-back"></ion-icon> Associations</a>
                        </li>
                        <li>
                            <a (click)="scrollTo('tier-category')">
                                <ion-icon name="ios-arrow-back"></ion-icon> Tier/Category</a>
                        </li>
                        <li>
                            <a (click)="scrollTo('region')">
                                <ion-icon name="ios-arrow-back"></ion-icon> Region</a>
                        </li>
                        <li>
                            <a (click)="scrollTo('affiliations')">
                                <ion-icon name="ios-arrow-back"></ion-icon> Affiliations</a>
                        </li>
                        <li>
                            <a (click)="scrollTo('journal-number')">
                                <ion-icon name="ios-arrow-back"></ion-icon> Publication Score</a>
                        </li>
                        <li>
                            <a (click)="scrollTo('publications')">
                                <ion-icon name="ios-arrow-back"></ion-icon> Journals</a>
                        </li>
                        <li>
                            <a (click)="scrollTo('clinical-trials')">
                                <ion-icon name="ios-arrow-back"></ion-icon> Clinical Trials</a>
                        </li>
                        <li>
                            <a (click)="scrollTo('peer-referrals')">
                                <ion-icon name="ios-arrow-back"></ion-icon> Peer Referrals</a>
                        </li>
                        <li>
                            <a (click)="scrollTo('cme-presentations')">
                                <ion-icon name="ios-arrow-back"></ion-icon> CME Presentations</a>
                        </li>
                    </ul>
                </nav>

            </div>
        </div>
    </div>
</div>